body{
background-image:url(fondo.jpg);
}
h1 {
    text-transform: uppercase;
        letter-spacing: .1em;
        display: inline-block;
        border: 1px double rgba(255,255,255,.25);
        border-width: 1px 0;
        padding: 3em 0em;
        position: top, center;
        top: 100%;
        /* Clip Background Image */
    
          background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
          -webkit-background-clip: text;
          background-clip: text;
    
    /* Animate Background Image */
    
          -webkit-text-fill-color: transparent;
          -webkit-animation: aitf 80s linear infinite;
    
    /* Activate hardware acceleration for smoother animations */
    
          -webkit-transform: translate3d(0,0,0);
          -webkit-backface-visibility: hidden;
    
      }
  
    /* Animate Background Image */
    
    @-webkit-keyframes aitf {
        0% { background-position: 0% 50%; }
        100% { background-position: 100% 50%; }
    }   